/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
    scroll-behavior: smooth;
}



/* Range input styles */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 13.8px;
    background-color: #e8e8e8ff;
}



input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Ensure consistency with vendor prefix */
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #46c7b6ff;
}

/* Scrollbar styles */
.scroll-hide {
    scroll-behavior: smooth;
    transition: scroll-snap-type 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    animation-delay: 0.5s;
}

.scroll-hide::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}




/* Light mode styles */
/* Light mode styles */
/* Base styles */
body {
    background-color: #111;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

/* Dark mode */
.dark {
    background-color: #fff;
    color: #111;
}


/* Dark mode toggle */
.light-mode-toggle {
    position: fixed;
    top: 15px;
    right: 250px;
    z-index: 1000;
    color: #111;
    padding: 6px 8px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid black;
    background-color: #fff;
}



/* Light mode toggle */
.dark-mode-toggle {
    position: fixed;
    top: 15px;
    right: 250px;
    z-index: 1000;
    color: #111;
    padding: 6px 8px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #fff;
    background-color: #fff;
}


@media screen and (max-width: 600px) {

    .dark-mode-toggle,
    .light-mode-toggle {
        right: 10px;
        top: 65px;
        padding: 2px 5px;

    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

    .dark-mode-toggle,
    .light-mode-toggle {
        right: 200px;
        right: 15px;
        top: 55px;
        padding: 2px 5px;
    }
}